<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<h2>Bonjour <%= name %></h2>


<% if (name) {%>
    <form action="/logout?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
<% }else{ %>

<% }%>