

        <h1 class="text-4xl text-center">Edit categorie</h1>

        <form action="/categories/<%= category.id %>?_method=PUT" method="POST">
            <%- include('_form_fields') %>
        </form>

        