<%- include ('../partials/head') %>

<%- include ('../partials/header') %>


        <h1 class="mb-4">New Category</h1>

        <form action="/categories" method="POST">
            <%- include('_form_fields') %>
        </form>

<%- include ('../partials/footer') %>