

        <h1 class="text-4xl font-bold text-center">Edit article</h1>

        <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
            <%- include('_form_fields') %>
        </form>
        